@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
    font-family: '8Bit';
    src: url('./fonts/uni0553-webfont.eot'); /* IE9 Compat Modes */
    src: url('./fonts/uni0553-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/uni0553-webfont.woff') format('woff'), /* Modern Browsers */
    url('./fonts/uni0553-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: '8Bit';
}
